@media (max-width: 768px) {
    p {
        font-size: 0.35rem;
    }
    .main {
        height: 100vw !important;
    }
}
@media (max-height: 400px) {
    p {
        font-size: 0.35rem;
    }

    .main {
        height: 100vw !important;
    }
}